.footer_links {
  display: flex;
  justify-content: space-around;

  background-color: white;
}

footer img {
  width: 70px;
  height: auto;
  margin: 10px;
}

.nav_hover.active {
  background-color: aqua;
}

.nav_hover:hover {
  background-color: aquamarine;
}
