.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  margin: 20px;
  border: 0px solid white;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  gap: 15px;
  input: width: 150px;
textarea,
}
