.question-headline {
  padding: 30px;
}

.question-card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px;
  border: 0px solid white;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  padding: 20px;
}

span {
  margin: 1px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.headline {
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.question-answer-show {
  display: flex;
  text-align: center;
  background-color: aquamarine;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
}

.question-answer-hide {
  display: flex;
  display: none;
}

.question-error-hide {
}

.question-error-show {
  display: flex;
  color: red;
}

.question-output {
  padding: 30px;
}

.red {
  display: flex;
  color: red;
}

.answer-error-length {
  text-align: right;
  font-size: 10px;
}

.question-error-length {
  text-align: right;
  font-size: 10px;
}
