.question {
}

.question-card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px;
  border: 0px solid white;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  padding: 20px;
}

span {
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.headline {
  display: flex;
  justify-content: center;
  text-align: center;
}

.question-answer-show {
  display: flex;
  text-align: center;
  background-color: aquamarine;
  padding: 20px;
  border-radius: 7px;
}

.question-answer-hide {
  display: none;
}

.question-error-hide {
  display: none;
}

.question-error-show {
  display: flex;

  color: red;
}

.answer-error-hide {
  display: none;
}

.answer-error-show {
  display: flex;
  color: red;
}
